*.class
*.log
*.ctxt
.mtj.tmp/
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.gradle/
build/
target/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
.idea
.DS_Store
gradle.properties
*.iml
**/out/**
shop/src/main/antlr/.antlr/
shop/src/main/antlr/.vscode/
shop/src/main/java/com/mineteria/shop/lang/
